[Desktop Entry]
Version=1.0
Type=Application
Name=Playwright Browser
Comment=Launch Chromium
Exec=xfce4-terminal -e "bash /app/open_browser.sh"
Icon=web-browser
Terminal=false